/* Created by: Lily C
* Created on: 05/08/2023
* This CSS file defines the style for index.php
* Unit5-02-PHP-ProductOfNumbers
*/

body {
  background-color: purple;
  padding-left: 20px; padding-right: 20px;
}

h1 {
  background-color: rgb(148 16 171);
  color: hsl(333deg 93% 56%);
  padding: 40px;
  text-align: center;
}

h3 {
  color: #f72585;
}

p {
  background-color: #A514A5;
  color: #f72585
}

iframe {
  background-color: #F72585;
}
